<% if @model == 'user' %>
  <h3>Users search for：<%= @content %></h3>
  <%= render 'users/index_search', users: @records %>
<% else @model == 'book' %>
  <h3>Books search for：<%= @content %></h3>
    <%= render 'books/index_search', books: @records %>
<% end %>